* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-titulo: "Fjalla One", sans-serif;
    --font-regular: "Work Sans", sans-serif;
    --cor-texto: #333333;
    --cor-fundo: #ffffff;
}

.theme-high-contrast {
    --cor-texto: #000000;
    --cor-fundo: #ffffff;
}

html {
    font-size: 100%;
}

body {
    font-family: var(--font-regular);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

img {
    max-width: 120px;
    height: auto;
}


h1 {
    font-family: var(--font-titulo);
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

form {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.6rem;
}

fieldset {
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 0.6rem;
}

legend {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 1rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 0.6rem;
}

textarea {
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="tel"],
input[type="file"] {
    margin-bottom: 5px;
}

input[type="radio"] {

    margin-left: 0.2rem;
    margin-right: 1rem;
}

small {
    display: block;
    margin-bottom: 20px;
}

input[type="color"] {
    width: 40px;
    padding: 0 0.5rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

input:invalid,
select:invalid,
textarea:invalid {
    border: 1px solid red;
}

input:valid,
select:valid,
textarea:valid {
    border: 1px solid green;
}

button {
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: orangered;
    color: white;
}