* {
    padding: 0;
    margin: 0;
}

:root {
    --font-titulo: "Fjalla One", sans-serif;
    --font-regular: "Work Sans", sans-serif;

}

body {
    font-size: 1.2rem;
    font-family: var(--font-regular);
}

.title__container {
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.title__text {
    font-family: var(--font-titulo);
}

.title__container--primary {
    background-color: brown;
    color: white;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2rem auto;
    padding: 2rem 2rem;
}

.formulario__titulo {
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.formulario__div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

}

.formulario__div__checkbox {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;

}

.formulario__div__checkbox__wrapper {
    font-size: 1.2rem;
}

.formulario__div__label {
    text-align: left;
    font-size: 1.2rem;
}

.formulario__input {
    width: 100%;
    font-size: 1.5rem;
}

.formulario__div__input__radio {
    display: flex;
    flex-direction: row;

}

.formulario__div__button {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.formulario__button {
    padding: 1rem 3rem;
    font-size: 1.2rem;
}

@media(min-width:992px) {
    .formulario {
        width: 50%;
    }
}

@media(max-width:992px) {
    .formulario {
        width: 80%;
    }

    .formulario__div__input__radio {
        flex-direction: column;
    }
}